$enable-rounded: false;
$enable-gradients: false;
$enable-shadows: true;

$theme-colors: (
  "primary": hsl(207, 85%, 46%),
  "secondary": hsl(207, 87%, 58%),
  "tertiary": hsl(208, 50%, 90%)
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import "../node_modules/bootstrap/scss/_variables";

.navbar {
  padding: 0px 0.5rem;
}

a.nav-link:hover {
  border-bottom: 4px solid theme-color("primary");
  background-color: theme-color("secondary");
  color: theme-color("tertiary");
}

a.nav-link.active {
  border-bottom: 4px solid theme-color("primary");
  background-color: theme-color("tertiary");
  color: theme-color("secondary");
}

a.nav-link.active:hover {
  border-bottom: 4px solid theme-color("secondary");
  background-color: theme-color("primary");
  color: theme-color("tertiary");
}
