$enable-rounded: false;
$enable-gradients: false;
$enable-shadows: true;

$theme-colors: (
  "primary": hsl(207, 85%, 46%),
  "secondary": hsl(207, 87%, 58%),
  "tertiary": hsl(208, 50%, 90%),
  "light": #f2f2f2,
  "dark": #2f2f2f,
  "shadow": #333,
  "fog": #888,
  "glow": #ddd
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import "../node_modules/bootstrap/scss/_variables";

* {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.navbar {
  padding: 0px 0.5rem;
  font-size: 1.25rem;
}

a.nav-link {
  margin: 0px 0.25rem;
}

a.nav-link:hover {
  border-bottom: 4px solid theme-color("primary");
  background-color: theme-color("secondary");
  color: theme-color("tertiary");
}

a.nav-link.active {
  border-bottom: 4px solid theme-color("primary");
  background-color: theme-color("tertiary");
  color: theme-color("secondary");
}

a.nav-link.active:hover {
  border-bottom: 4px solid theme-color("secondary");
  background-color: theme-color("primary");
  color: theme-color("tertiary");
}

.repo .repo-link {
  text-decoration: none;
  font-size: 1.75rem;
}
.repo .repo-language {
  font-size: 1.5rem;
}

// Shadows definitions
@each $colorname, $color in $theme-colors {
  .st-#{$colorname} {
    box-shadow: 0px -2px 16px -4px #{$color};
  }
  .sl-#{$colorname} {
    box-shadow: -2px 0px 16px -4px #{$color};
  }
  .sr-#{$colorname} {
    box-shadow: 2px 0px 16px -4px #{$color};
  }
  .sb-#{$colorname} {
    box-shadow: 0px 2px 16px -4px #{$color};
  }
  .sx-#{$colorname} {
    box-shadow: 2px 0px 16px -4px #{$color}, -2px 0px 16px -4px #{$color};
  }
  .sy-#{$colorname} {
    box-shadow: 0px -2px 16px -4px #{$color}, 0px 2px 16px -4px #{$color};
  }
  .sh-#{$colorname} {
    box-shadow: 0px 0px 16px -4px #{$color};
  }
}
